<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (jogoVencido)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3
                    [class]="jogoVencido ? 'text-success' : 'text-danger'"
                    [textContent]=" jogoVencido ?
                        'Traduções concluídas com sucesso' : 'As tentativas foram esgotadas!' "
                ></h3>
                <button type="button" class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar</button>
            </div>
        </div>
    </div>
</ng-template>
